### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt 

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [2]:
#Display the total number of players
total_num_play = len(purchase_data["SN"].unique())

total_df=pd.DataFrame({"Total Players":[total_num_play]})
total_df

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
#Purchasing Analysis showing:

#Number of Unique Items  
unique_items = len(purchase_data["Item ID"].unique())
#Average Price
average_price = purchase_data["Price"].mean()
#Number of Purchases
Number_of_purchases = purchase_data["Item ID"].count()
#Total Revenue
Total_Revenue = purchase_data["Price"].sum()

#Display the summary data frame
Summary_df=pd.DataFrame({"Number of Unique Items": [unique_items],
                        "Average Price": [average_price],
                         "Number of Purchases": [Number_of_purchases],
                         "Total Revenue": [Total_Revenue]
                        })
# Format summary table with dollars signs "$"
Summary_df["Average Price"]=Summary_df["Average Price"].map("${:,.2f}".format)
Summary_df["Total Revenue"]=Summary_df["Total Revenue"].map("${:,.2f}".format)
# print Summary_df                       
Summary_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [4]:
#Gender demographics locate Gender, Age, and SN.
player_df = purchase_data.loc[:,["Gender","Age","SN"]]
player_df = player_df.drop_duplicates() 
player_df.head()

  Gender  Age             SN
0   Male   20        Lisim78
1   Male   40    Lisovynya38
2   Male   24     Ithergue48
3   Male   24  Chamassasya86
4   Male   23      Iskosia90

In [5]:
#Group players by genger to find the count of Male and Female players before putting it in dataframe
player_count = player_df.groupby(["Gender"]).count()["SN"]
percent_player = round((player_count/total_num_play *100),2)
player_count

Gender
Female                    81
Male                     484
Other / Non-Disclosed     11
Name: SN, dtype: int64

In [6]:
# Data Frame
gender_count_df = pd.DataFrame({"Total Count": player_count,
                        "Percentage of Players": percent_player
                        })
gender_count_df["Percentage of Players"] = gender_count_df["Percentage of Players"].map("{:,.2f}%".format)
gender_count_df.sort_values( by = ["Total Count"], ascending = False)

                       Total Count Percentage of Players
Gender
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [7]:
#Average purchase count by gender
gender_pur_count = purchase_data.groupby('Gender')['Item ID'].count()
gender_pur_count.head()

Gender
Female                   113
Male                     652
Other / Non-Disclosed     15
Name: Item ID, dtype: int64

In [8]:
# Average purchase price by gender
gender_avrge_price = purchase_data.groupby("Gender")["Price"].mean()
gender_avrge_price

Gender
Female                   3.203009
Male                     3.017853
Other / Non-Disclosed    3.346000
Name: Price, dtype: float64

In [9]:
#grouping by gender and total purchases
gender_total_price = purchase_data.groupby("Gender")["Price"].sum()
gender_total_price

Gender
Female                    361.94
Male                     1967.64
Other / Non-Disclosed      50.19
Name: Price, dtype: float64

In [10]:
#get price per per person
gender_purc_pp = gender_total_price/player_count
gender_purc_pp

Gender
Female                   4.468395
Male                     4.065372
Other / Non-Disclosed    4.562727
dtype: float64

In [11]:
#Display the summary data frame
gender_purc_analysis_df = pd.DataFrame({"Purchase Count": gender_pur_count,
                                        "Average Purchase Price": gender_avrge_price,
                                        "Total Purchase Value": gender_total_price,
                                        "Avg Total Purchase per Person":gender_purc_pp
                                       })
gender_purc_analysis_df["Purchase Count"]= gender_purc_analysis_df["Purchase Count"].map("${:,.2f}".format)
gender_purc_analysis_df["Average Purchase Price"] = gender_purc_analysis_df["Average Purchase Price"].map("${:,.2f}".format)
gender_purc_analysis_df["Total Purchase Value"]= gender_purc_analysis_df["Total Purchase Value"].map("${:,.2f}".format)
gender_purc_analysis_df["Avg Total Purchase per Person"]= gender_purc_analysis_df["Avg Total Purchase per Person"].map("${:,.2f}".format)
gender_purc_analysis_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,$113.00,$3.20,$361.94,$4.47
Male,$652.00,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,$15.00,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [12]:
#Checking out the data and min and max ages. I also wanted to check to see if I could use the quartiles instead
purchase_data["Age"].describe()

count    780.000000
mean      22.714103
std        6.659444
min        7.000000
25%       20.000000
50%       22.000000
75%       25.000000
max       45.000000
Name: Age, dtype: float64

In [13]:
#create bins for age groups
age_bin= [0, 9.99, 14.99, 19.99, 24.99, 29.99, 34.99, 39.99, 99999]
#groupl labels
age_group_lab= ["<10","10-14","15-19","20-24","25-29","30-34","35-39","40+"]

In [14]:
#Cut the age in groups using the bins created
player_df["Age Groups"] = pd.cut(player_df["Age"],age_bin,labels=age_group_lab)
player_df.head()

  Gender  Age             SN Age Groups
0   Male   20        Lisim78      20-24
1   Male   40    Lisovynya38        40+
2   Male   24     Ithergue48      20-24
3   Male   24  Chamassasya86      20-24
4   Male   23      Iskosia90      20-24

In [15]:
#count of player ages 
ages= player_df.groupby("Age Groups").count()["SN"]
ages

Age Groups
<10       17
10-14     22
15-19    107
20-24    258
25-29     77
30-34     52
35-39     31
40+       12
Name: SN, dtype: int64

In [16]:
#find age totals
age_totals = player_df["Age Groups"].value_counts()
age_totals

20-24    258
15-19    107
25-29     77
30-34     52
35-39     31
10-14     22
<10       17
40+       12
Name: Age Groups, dtype: int64

In [17]:
#find percentage by group
percentage_groups = (age_totals/total_num_play*100)
percentage_groups

20-24    44.791667
15-19    18.576389
25-29    13.368056
30-34     9.027778
35-39     5.381944
10-14     3.819444
<10       2.951389
40+       2.083333
Name: Age Groups, dtype: float64

In [18]:
#Display Age Demographics Table
age_demo_df = pd.DataFrame({"Total Count":age_totals,
                            "Percentage of Players": percentage_groups
                           })
age_demo_df["Percentage of Players"] = age_demo_df["Percentage of Players"].map("{:,.2f}%".format)
age_demo_df.sort_index()

       Total Count Percentage of Players
<10             17                 2.95%
10-14           22                 3.82%
15-19          107                18.58%
20-24          258                44.79%
25-29           77                13.37%
30-34           52                 9.03%
35-39           31                 5.38%
40+             12                 2.08%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [19]:
#use bins to cut purchase date by age group
purchase_data["Age Groups"] = pd.cut(purchase_data["Age"],age_bin,labels=age_group_lab)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Groups
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24

In [70]:
#group ages to see data
ages_grouped = purchase_data.groupby("Age Groups")
# Count purchases by age group
age_pur_count = ages_grouped["Purchase ID"].count()
# Get average purchase price per age group 
age_avg_pur_price = ages_grouped["Price"].mean()
# Get total purchase value per age group 
age_total_pur_value = ages_grouped["Price"].sum()

In [69]:
# Average purchases per person per age group 
age_avg_pur_pp = age_total_pur_value/age_totals

In [71]:
# Display the summary data frame
Purchasing_Analysis_DF = pd.DataFrame({"Purchase Count": age_pur_count,
                                 "Average Purchase Price": age_avg_pur_price,
                                 "Total Purchase Value": age_total_pur_value,
                                 "Avg Purchase Total per Person": age_avg_pur_pp})

#Optional: give the displayed data cleaner formatting
Purchasing_Analysis_DF["Average Purchase Price"] = Purchasing_Analysis_DF["Average Purchase Price"].map("${:,.2f}".format)
Purchasing_Analysis_DF["Total Purchase Value"] = Purchasing_Analysis_DF["Total Purchase Value"].map("${:,.2f}".format)
Purchasing_Analysis_DF["Avg Purchase Total per Person"] = Purchasing_Analysis_DF["Avg Purchase Total per Person"].map("${:,.2f}".format)
Purchasing_Analysis_DF

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Purchase Total per Person
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [73]:
# Get total purchases per SN Count on Purchase ID
purchases_count = purchase_data.groupby("SN").count()["Purchase ID"]
# Get purchases totals per SN on Price
purchase_totals = purchase_data.groupby(["SN"]).sum()["Price"]
# Get Average purchases per SN on Price
purchase_avg = purchase_data.groupby(["SN"]).mean()["Price"]

In [38]:
purchases_count = purchase_data.groupby("SN").count()["Purchase ID"]
purchase_totals = purchase_data.groupby(["SN"]).sum()["Price"]
purchase_avg = purchase_data.groupby(["SN"]).mean()["Price"]
top_spenders_df = pd.DataFrame({"Purchase Count": purchases_count,
                                "Average Purchase Price": purchase_avg,
                                "Total Purchase Value": purchase_totals
                               })
top_df = top_spenders_df.sort_values("Total Purchase Value", ascending = False)
top_df["Average Purchase Price"] = top_df["Average Purchase Price"].map("${:,.2f}".format)
top_df["Total Purchase Value"] = top_df["Total Purchase Value"].map("${:,.2f}".format)
top_df.head()

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

In [39]:
#Select Item ID, Item Name, and Item Price columns
my_df = purchase_data[['Item ID', 'Item Name', 'Price']]
my_df

     Item ID                                  Item Name  Price
0        108  Extraction, Quickblade Of Trembling Hands   3.53
1        143                          Frenzied Scimitar   1.56
2         92                               Final Critic   4.88
3        100                                Blindscythe   3.27
4        131                                       Fury   1.44
..       ...                                        ...    ...
775       60                                       Wolf   3.54
776      164                           Exiled Doomblade   1.63
777       67      Celeste, Incarnation of the Corrupted   3.46
778       92                               Final Critic   4.19
779       50                                       Dawn   4.60

[780 rows x 3 columns]

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [51]:
#calulate most purchased item
item_purch_count = my_df.groupby(["Item ID", "Item Name"]).count()["Price"]
item_purch_value = my_df.groupby(["Item ID", "Item Name"]).sum()["Price"]
item_purch_mean = my_df.groupby(["Item ID", "Item Name"]).mean()["Price"]

#dataframe for Most Popular Items
Most_Pop_Items_df = pd.DataFrame({"Purchase Count": item_purch_count,
                                  "Item Price":item_purch_mean,
                                  "Total Purchase Value":item_purch_value})

Most_Pop_df = Most_Pop_Items_df.sort_values("Purchase Count", ascending = False)
Most_Pop_df ["Item Price"] = Most_Pop_df ["Item Price"].map("${:,.2f}".format)
Most_Pop_df ["Total Purchase Value"] = Most_Pop_df ["Total Purchase Value"].map("${:,.2f}".format)
Most_Pop_df.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
132,Persuasion,9,$3.22,$28.99
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [63]:
most_profitable_df = Most_Pop_df.sort_values(["Purchase Count","Total Purchase Value"], ascending = False)
most_profitable_df.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77