### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [4]:
# Dependencies and Setup
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt 

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [5]:
#Display the total number of players
total_num_play = len(purchase_data["SN"].unique())

total_df=pd.DataFrame({"Total Players":[total_num_play]})
total_df

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [6]:
#Purchasing Analysis showing:

#Number of Unique Items  
unique_items = len(purchase_data["Item ID"].unique())
#Average Price
average_price = purchase_data["Price"].mean()
#Number of Purchases
Number_of_purchases = purchase_data["Item ID"].count()
#Total Revenue
Total_Revenue = purchase_data["Price"].sum()

#Display the summary data frame
Summary_df=pd.DataFrame({"Number of Unique Items": [unique_items],
                        "Average Price": [average_price],
                         "Number of Purchases": [Number_of_purchases],
                         "Total Revenue": [Total_Revenue]
                        })
# Format summary table with dollars signs "$"
Summary_df["Average Price"]=Summary_df["Average Price"].map("${:,.2f}".format)
Summary_df["Total Revenue"]=Summary_df["Total Revenue"].map("${:,.2f}".format)
# print Summary_df                       
Summary_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [7]:
#Gender demographics locate Gender, Age, and SN.
player_df = purchase_data.loc[:,["Gender","Age","SN"]]
player_df = player_df.drop_duplicates() 
player_df.head()

  Gender  Age             SN
0   Male   20        Lisim78
1   Male   40    Lisovynya38
2   Male   24     Ithergue48
3   Male   24  Chamassasya86
4   Male   23      Iskosia90

In [8]:
#Group players by genger to find the count of Male and Female players before putting it in dataframe
player_count = player_df.groupby(["Gender"]).count()["SN"]
percent_player = round((player_count/total_num_play *100),2)
player_count

Gender
Female                    81
Male                     484
Other / Non-Disclosed     11
Name: SN, dtype: int64

In [9]:
# Data Frame
gender_count_df = pd.DataFrame({"Total Count": player_count,
                        "Percentage of Players": percent_player
                        })
gender_count_df["Percentage of Players"] = gender_count_df["Percentage of Players"].map("{:,.2f}%".format)
gender_count_df.sort_values( by = ["Total Count"], ascending = False)

                       Total Count Percentage of Players
Gender
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [10]:
#Average purchase count by gender
gender_pur_count = purchase_data.groupby('Gender')['Item ID'].count()
gender_pur_count.head()

Gender
Female                   113
Male                     652
Other / Non-Disclosed     15
Name: Item ID, dtype: int64

In [11]:
# Average purchase price by gender
gender_avrge_price = purchase_data.groupby("Gender")["Price"].mean()
gender_avrge_price

Gender
Female                   3.203009
Male                     3.017853
Other / Non-Disclosed    3.346000
Name: Price, dtype: float64

In [12]:
gender_total_price = purchase_data.groupby("Gender")["Price"].sum()
gender_total_price

Gender
Female                    361.94
Male                     1967.64
Other / Non-Disclosed      50.19
Name: Price, dtype: float64

In [13]:
gender_purc_pp = gender_total_price/player_count
gender_purc_pp

Gender
Female                   4.468395
Male                     4.065372
Other / Non-Disclosed    4.562727
dtype: float64

In [14]:
gender_purc_analysis_df = pd.DataFrame({"Purchase Count": gender_pur_count,
                                        "Average Purchase Price": gender_avrge_price,
                                        "Total Purchase Value": gender_total_price,
                                        "Avg Total Purchase per Person":gender_purc_pp
                                       })
gender_purc_analysis_df["Purchase Count"]= gender_purc_analysis_df["Purchase Count"].map("${:,.2f}".format)
gender_purc_analysis_df["Average Purchase Price"] = gender_purc_analysis_df["Average Purchase Price"].map("${:,.2f}".format)
gender_purc_analysis_df["Total Purchase Value"]= gender_purc_analysis_df["Total Purchase Value"].map("${:,.2f}".format)
gender_purc_analysis_df["Avg Total Purchase per Person"]= gender_purc_analysis_df["Avg Total Purchase per Person"].map("${:,.2f}".format)
gender_purc_analysis_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,$113.00,$3.20,$361.94,$4.47
Male,$652.00,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,$15.00,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [15]:
purchase_data["Age"].describe()

count    780.000000
mean      22.714103
std        6.659444
min        7.000000
25%       20.000000
50%       22.000000
75%       25.000000
max       45.000000
Name: Age, dtype: float64

In [16]:
#create bins for age groups
age_bin= [0, 9.99, 14.99, 19.99, 24.99, 29.99, 34.99, 39.99, 99999]
#groupl labels
age_group_lab= ["<10","10-14","15-19","20-24","25-29","30-34","35-39","40+"]

In [17]:
player_df["Age Groups"] = pd.cut(player_df["Age"],age_bin,labels=age_group_lab)
player_df.head()

  Gender  Age             SN Age Groups
0   Male   20        Lisim78      20-24
1   Male   40    Lisovynya38        40+
2   Male   24     Ithergue48      20-24
3   Male   24  Chamassasya86      20-24
4   Male   23      Iskosia90      20-24

In [18]:
ages= player_df.groupby("Age Groups").count()["SN"]
ages

Age Groups
<10       17
10-14     22
15-19    107
20-24    258
25-29     77
30-34     52
35-39     31
40+       12
Name: SN, dtype: int64

In [19]:
age_totals = player_df["Age Groups"].value_counts()
age_totals

20-24    258
15-19    107
25-29     77
30-34     52
35-39     31
10-14     22
<10       17
40+       12
Name: Age Groups, dtype: int64

In [20]:
percentage_groups = (age_totals/total_num_play*100)

percentage_groups

20-24    44.791667
15-19    18.576389
25-29    13.368056
30-34     9.027778
35-39     5.381944
10-14     3.819444
<10       2.951389
40+       2.083333
Name: Age Groups, dtype: float64

In [21]:
age_demo_df = pd.DataFrame({"Total Count":age_totals,
                            "Percentage of Players": percentage_groups
                           })
age_demo_df["Percentage of Players"] = age_demo_df["Percentage of Players"].map("{:,.2f}%".format)
age_demo_df.sort_index()

       Total Count Percentage of Players
<10             17                 2.95%
10-14           22                 3.82%
15-19          107                18.58%
20-24          258                44.79%
25-29           77                13.37%
30-34           52                 9.03%
35-39           31                 5.38%
40+             12                 2.08%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [22]:
purchase_data["Age Groups"] = pd.cut(purchase_data["Age"],age_bin,labels=age_group_lab)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Groups
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24

In [23]:
#group ages to see data
ages_grouped = purchase_data.groupby("Age Groups")
ages_grouped.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Groups
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24
5,5,Yalae81,22,Male,81,Dreamkiss,3.61,20-24
6,6,Itheria73,36,Male,169,"Interrogator, Blood Blade of the Queen",2.18,35-39
9,9,Chanosian48,35,Other / Non-Disclosed,136,Ghastly Adamantite Protector,3.58,35-39
14,14,Saesrideu94,35,Male,165,Bone Crushing Silver Skewer,4.86,35-39
19,19,Chamalo71,30,Male,89,"Blazefury, Protector of Delusions",4.64,30-34
22,22,Siarithria38,38,Other / Non-Disclosed,24,Warped Fetish,3.81,35-39
23,23,Eyrian71,40,Male,151,Severance,3.40,40+
24,24,Siala43,30,Male,132,Persuasion,3.19,30-34
25,25,Lisirra87,29,Male,178,"Oathbreaker, Last Hope of the Breaking Storm",4.23,25-29
26,26,Lirtossa84,11,Male,71,Demise,1.61,10-14
27,27,Eusri44,7,Male,96,Blood-Forged Skeletal Spine,3.09,<10
30,30,Idai61,19,Male,140,Striker,2.94,15-19
31,31,Farusrian86,37,Male,179,"Wolf, Promise of the Moonwalker",4.48,35-39
32,32,Aeralria27,10,Male,133,Faith's Scimitar,4.09,10-14
33,33,Haillyrgue51,7,Male,44,Bonecarvin Battle Axe,2.38,<10
34,34,Sondim73,19,Male,160,Azurewrath,4.40,15-19
36,36,Idaisuir85,30,Male,76,Haunted Bronzed Bludgeon,3.15,30-34
37,37,Seuthep89,8,Male,73,Ritual Mace,2.05,<10
38,38,Reulae52,10,Female,116,Renewed Skeletal Katana,4.18,10-14
42,42,Aidaillodeu39,18,Male,72,Winter's Bite,3.77,15-19
46,46,Yasrisu92,27,Male,102,Avenger,3.44,25-29
49,49,Iaralrgue74,33,Male,110,Suspension,1.44,30-34
53,53,Ilosianya35,32,Male,176,Relentless Iron Skewer,2.84,30-34
54,54,Zhisrisu83,10,Male,25,Hero Cane,4.35,10-14
55,55,Phaelap26,25,Female,84,Arcane Gem,3.79,25-29
56,56,Raesty92,12,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,10-14
59,59,Yaliru88,19,Male,105,Hailstorm Shadowsteel Scythe,3.03,15-19
61,61,Jiskimya77,17,Male,178,"Oathbreaker, Last Hope of the Breaking Storm",4.23,15-19
65,65,Chamirraya83,25,Male,34,Retribution Axe,2.22,25-29
70,70,Pheodai94,29,Male,143,Frenzied Scimitar,1.56,25-29
78,78,Haillyrgue51,7,Male,50,Dawn,4.60,<10
81,81,Heudai45,8,Female,174,Primitive Blade,3.47,<10
156,156,Eyrian71,40,Male,117,"Heartstriker, Legacy of the Light",1.79,40+
220,220,Jiskjask85,40,Male,46,Hopeless Ebon Dualblade,1.33,40+
248,248,Isursuir31,44,Male,137,"Aetherius, Boon of the Blessed",3.39,40+

In [24]:
# Count purchases by age group
age_pur_count = ages_grouped["Purchase ID"].count()
age_pur_count

Age Groups
<10       23
10-14     28
15-19    136
20-24    365
25-29    101
30-34     73
35-39     41
40+       13
Name: Purchase ID, dtype: int64

In [25]:
# Get average purchase price per age group 
age_avg_pur_price = ages_grouped["Price"].mean()
age_avg_pur_price

Age Groups
<10      3.353478
10-14    2.956429
15-19    3.035956
20-24    3.052219
25-29    2.900990
30-34    2.931507
35-39    3.601707
40+      2.941538
Name: Price, dtype: float64

In [26]:
# Get total purchase value per age group 
age_total_pur_value = ages_grouped["Price"].sum()
age_total_pur_value

Age Groups
<10        77.13
10-14      82.78
15-19     412.89
20-24    1114.06
25-29     293.00
30-34     214.00
35-39     147.67
40+        38.24
Name: Price, dtype: float64

In [27]:
# Average purchases per person per age group 
age_avg_pur_pp = age_total_pur_value/age_totals
age_avg_pur_pp

<10      4.537059
10-14    3.762727
15-19    3.858785
20-24    4.318062
25-29    3.805195
30-34    4.115385
35-39    4.763548
40+      3.186667
dtype: float64

In [28]:
# Display the summary data frame
Purchasing_Analysis_DF = pd.DataFrame({"Purchase Count": age_pur_count,
                                 "Average Purchase Price": age_avg_pur_price,
                                 "Total Purchase Value": age_total_pur_value,
                                 "Avg Purchase Total per Person": age_avg_pur_pp})

#Optional: give the displayed data cleaner formatting
Purchasing_Analysis_DF["Average Purchase Price"] = Purchasing_Analysis_DF["Average Purchase Price"].map("${:,.2f}".format)
Purchasing_Analysis_DF["Total Purchase Value"] = Purchasing_Analysis_DF["Total Purchase Value"].map("${:,.2f}".format)
Purchasing_Analysis_DF["Avg Purchase Total per Person"] = Purchasing_Analysis_DF["Avg Purchase Total per Person"].map("${:,.2f}".format)

Purchasing_Analysis_DF

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Purchase Total per Person
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

In [56]:
# Get total purchases per SN Count on Purchase ID
purchases_total = purchase_data.groupby("SN").count()["Purchase ID"]
purchases_total.sort_values(ascending = False)

SN
Lisosia93       5
Iral74          4
Idastidru52     4
Aina42          3
Iri67           3
               ..
Lisossala30     1
Lisossanya98    1
Lisotesta51     1
Lisovynya38     1
Adairialis76    1
Name: Purchase ID, Length: 576, dtype: int64

In [59]:
# Get Average purchases per SN on Price
purchases_average = purchase_data.groupby(["SN"]).sum()["Price"]
purchases_average.sort_values(ascending = False)

SN
Lisosia93      18.96
Idastidru52    15.45
Chamjask73     13.83
Iral74         13.62
Iskadarya95    13.10
               ...
Irilis75        1.02
Isurria36       1.02
Chanirra79      1.01
Aidai61         1.01
Alo38           1.00
Name: Price, Length: 576, dtype: float64

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [64]:
top_spenders_df = pd.DataFrame({"Total Purchase Value": purchases_total,
                             "Average Purchase Price": purchases_average,
                             "Purchase Count": purchases_count})
top_spenders_df.sort_values(by = ("Total Purchase Value", ascending = False))

SyntaxError: invalid syntax (<ipython-input-64-76cb39687207>, line 4)

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame